.experience-card-container {
    max-width: 800px;
    margin: 0 auto;
}

.experience-item {
    text-align: left;
}

.experience-header {
    display: flex;
    align-items: flex-start;
    /* Align items at the top */
    flex-wrap: wrap;
    /* Ensure elements can wrap */
}

.experience-role {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.experience-company {
    font-size: 1.3rem;
    width: 100%; /* Company takes the full width */
}

.experience-dates {
    font-size: 1.3rem;    
    margin-top: 30px; /* Align with role */
    margin-left: auto; /* Align dates to the right */
}

.experience-bullets {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

.experience-bullets li {
    font-size: 1.1rem;
    margin: 5px 0;
}

.experience-tech-logos {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.experience-tech-logos img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}